apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    run: node-wiki
  name: node-wiki
  namespace: default
  annotations:
    inajob.tk/update-at: {{build.created}}
spec:
  replicas: 1
  selector:
    matchLabels:
      run: node-wiki
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        run: node-wiki
    spec:
      initContainers:
      - image: golang:latest
        name: init
        command: ['sh', '-c', 'cp /config/rclone.conf /config-work/rclone.conf']
        volumeMounts:
          - name: data
            mountPath: /root/wikidata
          - name: config
            mountPath: /config
          - name: config-work
            mountPath: /config-work
      - name: first-rclone
        image: tynor88/rclone:latest
        command:
        - sh
        - -c
        - "/usr/bin/with-contenv sh /app/rclone.sh"
        env:
        - name: SYNC_COMMAND
          value: rclone sync GoogleDrive:/node-wiki-dev /data
        volumeMounts:
        - mountPath: /data
          name: data
        - mountPath: /root
          name: config
      containers:
      - image: kinadu/node-wiki
        imagePullPolicy: Always
        name: node-wiki
        resources: {}
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /app/public/pages
          name: data
        env:
        - name: MONGO_URL
          valueFrom:
            secretKeyRef:
              name: node-wiki
              key: mongo_url
        - name: TWITTER_CONSUMER_KEY
          valueFrom:
            secretKeyRef:
              name: node-wiki
              key: twitter_consumer_key
        - name: TWITTER_CONSUMER_SECRET
          valueFrom:
            secretKeyRef:
              name: node-wiki
              key: twitter_consumer_secret
        - name: ENTRYPOINT
          valueFrom:
            secretKeyRef:
              name: node-wiki
              key: entrypoint
      - name: rclone
        image: pschmitt/rclone:latest
        imagePullPolicy: Always
        command:
        - sh
        - -c
        - "while true; do date; rclone -v --config /config/rclone.conf sync data/ GoogleDrive:/node-wiki-dev; sleep 1800; done;"
        volumeMounts:
        - mountPath: /data
          name: data
        - mountPath: /config
          name: config-work
      volumes:
      - name: data
        emptyDir: {}
      - name: config-work
        emptyDir: {}
      - name: config
        secret:
          defaultMode: 511
          secretName: rclone-config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  labels:
    run: node-wiki
  name: node-wiki
  namespace: default
spec:
  ports:
  - port: 3000
    protocol: TCP
  selector:
    run: node-wiki
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: node-wiki
spec:
  rules:
  - host: node-wiki.dev.inajob.tk
    http:
      paths:
      - path: /
        backend:
          serviceName: node-wiki
          servicePort: 3000
