body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00f;
}
textarea{
  width:100%;
  height:300px;
}
/* =========================== */
* {
  margin:0;
  padding:0;
}
body{
  background-color:#eee;
}
.wiki-title{
  /*
  border:solid #aaf;
  background-color:#ddd;
  */
  font-size:2em;
  background: #ddf;/*背景色*/
  vertical-align: middle;/*上下中央*/
  border-radius: 25px 25px 0px 25px;/*左側の角を丸く*/
  border:solid 5px #aaf;
  border-right: 0px;
  margin-left:-30px;
  margin-top:-6px;
  margin-bottom:10px;
  padding-left:30px;

}
.wiki-body{
  margin-top:2em;
  margin-left:10em;
  margin-right:3em;
  border:solid 6px #aaf;
  border-radius: 25px;
}
ul{
  margin-left:1em;
}
pre {
  padding:5px;
}
.h1{
  font-size:4em;
  padding:3px;
}
.h2{
  font-size:3em;
  padding:3px;
}
.h3{
  font-size:2em;
  padding:3px;
}
.block-type{
  background-color:#ddd;
  color:#333;
  padding-left:3px;
  padding-right:3px;
  border-radius:3px;
  font-size:xx-small;
}
.status-bar{
  background-color:#333;
  color:white;
  border:solid #399;
  border-width:0px 0px 0px 3px;
  position:absolute;
  width:100%;
  top:0px;
}
.status-bar span{
  background-color:#666;
  padding-left:1em;
  padding-right:1em;
  margin-left:1em;
  margin-right:1em;
  cursor: pointer;
}
.status-bar a{
  color: #ddf;
}
.side-bar{
  position:absolute;
  top:1em;
  left:0px;
  margin-top:1em;
}
.side-bar ul{
  margin: 2px;
}
.side-bar li{
  list-style-type: none;
  border:solid 2px #aaf;
  border-width: 1px 1px 1px 5px;
  margin-top:3px;
  background-color: #ddf;
}
.debug-console{
  border: solid 1px;
  background-color: black;
  color: #0f0;
  padding: 3px;
  font-size:xx-small;
  margin-top:30px;
}

.small{
  display:inline-block;
  background-color:#ddd;
  color:gray;
  border-radius: 5px;
}
.tiny{
  display:inline-block;
  color:gray;
  font-size:xx-small;
}

.list-pre{
  color:#ccc;
  letter-spacing: 12px;
}

.list{
  color:#333;
  letter-spacing: 12px;
  font-weight: bold;
}
.text{
}
.full{
}

.full textarea{
  width:90%;
  height:1em;
  padding:3px;
}
.twin{
  width:100%;
}
.half{
  width:40%;
  float:left;
}
textarea{
  font-family: sans-serif;
  word-wrap:normal;
  overflow:hide;
  outline:none;
}
table {
  border:solid;
}
table td {
  border:solid 1px;
  padding:0.5em;
}
a{
  cursor:pointer;
}
a:hover{
  color:#ddf;
  background-color:#33d;
}
img{
  border:solid 1px;
}
img.paste{
  border: solid 1px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
